:root {
  --accent-color: rgba(147, 197, 114, 0.719);
  --background-color: rgba(128, 128, 128, 0.062);
  --serif-font: "DM Serif Display", serif;
  --accent-font: "Prata", serif;
  --sans-serif-font: "Tajawal", sans-serif;
}

html {
  border: 20px solid var(--accent-color);
  min-height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

body {
  text-align: center;
  padding: 80px 0 50px;
  background: var(--background-color);
}

.navbar {
  margin: -80px 0 80px;
}

.navbar-brand {
  font-family: var(--accent-font);
  font-size: 14px;
  transition: all 300ms ease-in-out;
}

.navbar-brand:hover {
  font-size: 15px;
}

.nav-link {
  font-family: var(--accent-font);
  font-size: 12px;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  font-size: 13px;
}

h1 {
  font-family: var(--serif-font);
  font-size: 64px;
  margin: 0;
}

h2 {
  font-family: var(--accent-font);
  font-size: 28px;
  margin: 0;
}

h3 {
  font-family: var(--accent-font);
  font-size: 24px;
  margin: 0 0 -15px;
}

.homepage-hero {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  max-width: 700px;
  padding: 60px 20px;
  margin: 0 auto 60px;
  border-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/023/094/original/image.png?1639852536)
    13% round;
  border-style: solid;
  border-width: 50px;
  border-image-outset: 10px;
}

p {
  font-family: var(--sans-serif-font);
  font-size: 18px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.596);
  padding: 50px;
  border-radius: 5px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  font-family: var(--sans-serif-font);
  color: black;
  margin: 0 10px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: var(--accent-color);
}

.links {
  font-family: var(--sans-serif-font);
  padding: 10px 15px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.452);
  color: rgba(0, 0, 0, 0.788);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  margin-left: 18px;
  border-radius: 2px;
}

.links::after {
  content: "";
  background: var(--accent-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  transition: all 300ms ease-in-out;
  border-radius: 2px;
}

.links:hover::after {
  top: 0px;
  left: 0px;
}

.links:hover {
  color: #000;
}

.me-pic {
  width: 300px;
  border: 10px solid transparent;
  border-radius: 100%;
  display: block;
  margin: 0 auto 30px;
}

.border-img {
  transform: rotate(90deg);
}

footer {
  display: flex;
  justify-content: center;
  margin: 90px 0 0;
  font-size: 24px;
}

iframe {
  width: 600px;
  height: 476px;
}
