:root {
  --accent-color: rgba(147, 197, 114, 0.719);
  --background-color: #d9f0de67;
  --section-color: #d9f0ded0;
  --serif-font: "DM Serif Display", serif;
  --accent-font: "Prata", serif;
  --sans-serif-font: "Raleway", sans-serif;
}

html {
  border: 20px solid var(--accent-color);
  min-height: 100%;
}

body {
  text-align: center;
  padding: 80px 0 50px;
  background: var(--background-color);
  font-family: var(--sans-serif-font);
}

.navbar {
  margin: -80px 0 0;
}

.navbar-background {
  background: #eff8f0;
}

.navbar-brand {
  font-family: var(--accent-font);
  font-size: 14px;
  transition: all 300ms ease-in-out;
}

.navbar-brand:hover {
  font-size: 15px;
}

.nav-link {
  font-family: var(--accent-font);
  font-size: 12px;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  font-size: 13px;
}

.homepage-hero {
  margin: 200px auto 300px;
}

.name-image {
  width: 800px;
  margin: 5px -150px -20px;
}

h1 {
  font-family: var(--serif-font);
  font-size: 64px;
  margin: 0;
}

h2 {
  font-family: var(--accent-font);
  font-size: 32px;
  margin: 15px 0 0;
}

h3 {
  font-family: var(--accent-font);
  font-size: 30px;
  margin: 0 0 -10px;
  font-weight: 600;
}

h4 {
  font-family: var(--serif-font);
  font-size: 50px;
}

p {
  font-size: 18px;
  text-align: justify;
  background: var(--section-color);
  padding: 40px;
  border-radius: 7px;
}

.about-me-container {
  margin-top: 50px;
  max-width: 900px;
}

.me-pic {
  width: 300px;
  border: 10px solid transparent;
  border-radius: 100%;
}

.skills-section {
  font-size: 34px;
  text-align: center;
  word-spacing: 50px;
  margin: 30px 0 50px;
}

a {
  color: black;
  margin: 0 10px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: var(--accent-color);
}

.links {
  padding: 10px 15px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.452);
  color: rgba(0, 0, 0, 0.788);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  margin-left: 18px;
  border-radius: 2px;
}

.links::after {
  content: "";
  background: var(--accent-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  transition: all 300ms ease-in-out;
  border-radius: 2px;
}

.links:hover::after {
  top: 0px;
  left: 0px;
}

.links:hover {
  color: #000;
}

.certs {
  width: 400px;
  padding: 10px;
}

.border-img {
  transform: rotate(90deg);
}

footer {
  display: flex;
  justify-content: center;
  margin: 90px 0 0;
  font-size: 24px;
}

iframe {
  width: 600px;
  height: 476px;
}

.certificate {
  width: 500px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  margin-left: 20px;
}

.cert-section {
  background: var(--section-color);
  border-radius: 10px;
  margin: 40px 0;
  position: relative;
  z-index: 1;
}

@media (max-width: 340px) {
  .links {
    display: flex;
    margin: 20px 50px;
  }
}

@media (max-width: 370px) {
  .certificate {
    display: none;
  }
}

@media (max-width: 385px) {
  .name-image {
    margin-left: -35px;
  }
}

@media (max-width: 480px) {
  .name-image {
    max-width: 250px;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }

  h4 {
    font-size: 30px;
  }

  .name-image {
    width: 350px;
    margin-bottom: -15px;
  }
}

@media (max-width: 991px) {
  .homepage-hero {
    border-image-slice: 50%;
    border-image-outset: 0;
  }

  .certificate {
    margin: 50px auto -60px;
    width: 300px;
  }

  .cert-section {
    width: 100%;
    background: none;
  }

  .homepage-hero {
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .cert-section {
    padding-left: 150px;
  }
}
